<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Furniture object picture #<%= @furniture_object_picture.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furniture_object_pictures" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/furniture_object_pictures/<%= @furniture_object_picture.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit furniture object picture
        </a>
      </div>

      <div class="col">
        <a href="/delete_furniture_object_picture/<%= @furniture_object_picture.id %>" class="btn btn-block btn-outline-secondary">
          Delete furniture object picture
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Picture
      </dt>
      <dd>
        <img src="<%= @furniture_object_picture.picture %>" class="img-fluid">
      </dd>

      <dt>
        Furniture object
      </dt>
      <dd>
        <% if @furniture_object_picture.furniture_object.present? %>
          <a href="/furtniture_objects/<%= @furniture_object_picture.furniture_object_id %>">
            <%= @furniture_object_picture.furniture_object.price %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_object_picture.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_object_picture.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

