<% if @building.errors.any? %>
  <% @building.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit building #<%= @building.id %>
</h1>

<hr>

<form action="/update_building/<%= @building.id %>" method="post">

  <div class="form-group">
    <label for="apartment_id">
      Apartment
    </label>

    <input type="text" id="apartment_id" name="apartment_id" class="form-control" value="<%= @building.apartment_id %>">
  </div>

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @building.address %>">
  </div>

  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" class="form-control" value="<%= @building.neighborhood %>">
  </div>

  <div class="form-group">
    <label for="contact_info">
      Contact info
    </label>

    <input type="text" id="contact_info" name="contact_info" class="form-control" value="<%= @building.contact_info %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update building
  </button>
</form>

<hr>

<a href="/buildings">
  Go back
</a>
