<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All buildings
    </h1>

    <a href="/buildings/new" class="btn btn-block btn-outline-secondary">
      Add a new building
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->
<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "building_templates/all_photos_map" %>
  </div>
</div>
<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Apartment
        </th>

        <th>
          Address
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Contact info
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @buildings.each do |building| %>
      <tr>
        <!-- Display building.id start -->
        <td>
          <%= building.id %>
        </td>
        <!-- Display building.id end -->

        <!-- Display building.apartment_id start -->
        <td>
          <%= building.apartment_id %>
        </td>
        <!-- Display building.apartment_id end -->

        <!-- Display building.address start -->
        <td>
          <%= building.address %>
        </td>
        <!-- Display building.address end -->

        <!-- Display building.neighborhood start -->
        <td>
          <%= building.neighborhood %>
        </td>
        <!-- Display building.neighborhood end -->

        <!-- Display building.contact_info start -->
        <td>
          <%= building.contact_info %>
        </td>
        <!-- Display building.contact_info end -->

        <!-- Display building.created_at start -->
        <td>
          <%= time_ago_in_words(building.created_at) %> ago
        </td>
        <!-- Display building.created_at end -->

        <!-- Display building.updated_at start -->
        <td>
          <%= time_ago_in_words(building.updated_at) %> ago
        </td>
        <!-- Display building.updated_at end -->

        <td>
          <a href="/buildings/<%= building.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
