<%= search_form_for @q, :class => collapse_search_form, :id => "apartments_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :floor, "Floor" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :floor_gteq, :class => "form-control", :placeholder => "Floor greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :floor_lteq, :class => "form-control", :placeholder => "Floor less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :orientation_cont, "Orientation contains" %>
    <%= f.text_field :orientation_cont, :class => "form-control", :placeholder => "Orientation contains" %>
  </div>

  <div class="form-group">
    <%= f.label :sq_footage, "Sq footage" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :sq_footage_gteq, :class => "form-control", :placeholder => "Sq footage greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :sq_footage_lteq, :class => "form-control", :placeholder => "Sq footage less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bathrooms, "Bathrooms" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :bathrooms_gteq, :class => "form-control", :placeholder => "Bathrooms greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :bathrooms_lteq, :class => "form-control", :placeholder => "Bathrooms less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bedrooms, "Bedrooms" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :bedrooms_gteq, :class => "form-control", :placeholder => "Bedrooms greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :bedrooms_lteq, :class => "form-control", :placeholder => "Bedrooms less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :user_email_cont, "User email contains" %>
    <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :apartment_photos_description_cont, "ApartmentPhoto description contains" %>
    <%= f.text_field :apartment_photos_description_cont, :class => "form-control", :placeholder => "ApartmentPhoto description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :furniture_packs_description_cont, "FurniturePack description contains" %>
    <%= f.text_field :furniture_packs_description_cont, :class => "form-control", :placeholder => "FurniturePack description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :apartment_id, "Building Apartment" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :building_apartment_id_gteq, :class => "form-control", :placeholder => "Building Apartment greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :building_apartment_id_lteq, :class => "form-control", :placeholder => "Building Apartment less than or equal to" %>
      </div>
    </div>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/apartments" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#apartments_filters">
  Show filters
</a>
