<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All building bookmarks
    </h1>

    <a href="/building_bookmarks/new" class="btn btn-block btn-outline-secondary">
      Add a new building bookmark
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "building_bookmark_templates/building_bookmarks_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Building
        </th>

        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @building_bookmarks.each do |building_bookmark| %>
      <tr>
        <td>
          <%= building_bookmark.id %>
        </td>

        <td>
          <% if building_bookmark.building.present? %>
            <a href="/buildings/<%= building_bookmark.building.id %>">
              <%= building_bookmark.building.apartment_id %>
            </a>
          <% end %>
        </td>

        <td>
          <% if building_bookmark.user.present? %>
            <a href="/users/<%= building_bookmark.user.id %>">
              <%= building_bookmark.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= building_bookmark.name %>
        </td>

        <td>
          <%= time_ago_in_words(building_bookmark.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(building_bookmark.updated_at) %> ago
        </td>

        <td>
          <a href="/building_bookmarks/<%= building_bookmark.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @building_bookmarks, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
