<% if @furniture_category.errors.any? %>
  <% @furniture_category.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit furniture category #<%= @furniture_category.id %>
</h1>

<hr>

<form action="/update_furniture_category/<%= @furniture_category.id %>" method="post">

  <div class="form-group">
    <label for="items">
      Items
    </label>

    <textarea id="items" name="items" class="form-control" rows="3"><%= @furniture_category.items %></textarea>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @furniture_category.name %>">
  </div>

  <div class="form-group">
    <label for="furniture_pack_id">
      Furniture pack
    </label>

    <%= select_tag(:furniture_pack_id, options_from_collection_for_select(FurniturePack.all, :id, :description, @furniture_category.furniture_pack_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="number_of_items">
      Number of items
    </label>

    <input type="text" id="number_of_items" name="number_of_items" class="form-control" value="<%= @furniture_category.number_of_items %>">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @furniture_category.price %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update furniture category
  </button>
</form>

<hr>

<a href="/furniture_categories">
  Go back
</a>
