<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Furniture category #<%= @furniture_category.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furniture_categories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/furniture_categories/<%= @furniture_category.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit furniture category
        </a>
      </div>

      <div class="col">
        <a href="/delete_furniture_category/<%= @furniture_category.id %>" class="btn btn-block btn-outline-secondary">
          Delete furniture category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Items
      </dt>
      <dd>
        <%= @furniture_category.items %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @furniture_category.name %>
      </dd>

      <dt>
        Furniture pack
      </dt>
      <dd>
        <% if @furniture_category.furniture_pack.present? %>
          <a href="/furniture_packs/<%= @furniture_category.furniture_pack_id %>">
            <%= @furniture_category.furniture_pack.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Number of items
      </dt>
      <dd>
        <%= @furniture_category.number_of_items %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @furniture_category.price %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "furniture_category_templates/furniture_category_furniture_category_pictures" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "furniture_category_templates/furniture_category_furtniture_objects" %>
  </div>
</div>
