<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Furniture category picture #<%= @furniture_category_picture.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furniture_category_pictures" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/furniture_category_pictures/<%= @furniture_category_picture.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit furniture category picture
        </a>
      </div>

      <div class="col">
        <a href="/delete_furniture_category_picture/<%= @furniture_category_picture.id %>" class="btn btn-block btn-outline-secondary">
          Delete furniture category picture
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category
      </dt>
      <dd>
        <% if @furniture_category_picture.category.present? %>
          <a href="/furniture_categories/<%= @furniture_category_picture.category_id %>">
            <%= @furniture_category_picture.category.items %>
          </a>
        <% end %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <img src="<%= @furniture_category_picture.picture %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_category_picture.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@furniture_category_picture.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

