<!-- Form furtniture_object start -->
<form action="/create_furtniture_object_from_furniture_pack" method="post">
<!-- Form furtniture_object end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <label for="price">
      Price
    </label>

    <!-- Input for price start -->
    <input type="text" id="price" name="price" class="form-control" value="<%= @furtniture_object.price %>">
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @furtniture_object.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for furniture_pack_id start -->
  <!-- Input for furniture_pack_id start -->
  <input type="hidden" name="furniture_pack_id" value="<%= @furniture_pack.id %>">
  <!-- Input for furniture_pack_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <%= select_tag(:category_id, options_from_collection_for_select(FurnitureCategory.all, :id, :items, @furtniture_object.category_id), :class => "form-control") %>
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @furtniture_object.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create furtniture object
  </button>
</form>
