<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All furniture packs
    </h1>

    <a href="/furniture_packs/new" class="btn btn-block btn-outline-secondary">
      Add a new furniture pack
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "furniture_pack_templates/furniture_packs_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          User
        </th>

        <th>
          Price
        </th>

        <th>
          Number of items
        </th>

        <th>
          Storage conditions
        </th>

        <th>
          Apartment sq footage
        </th>

        <th>
          Apartment number of bedrooms
        </th>

        <th>
          Apartment number of bathrooms
        </th>

        <th>
          Apartment building name
        </th>

        <th>
          Apartment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @furniture_packs.each do |furniture_pack| %>
      <tr>
        <td>
          <%= furniture_pack.id %>
        </td>

        <td>
          <%= furniture_pack.description %>
        </td>

        <td>
          <% if furniture_pack.user.present? %>
            <a href="/users/<%= furniture_pack.user.id %>">
              <%= furniture_pack.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= furniture_pack.price %>
        </td>

        <td>
          <%= furniture_pack.number_of_items %>
        </td>

        <td>
          <%= furniture_pack.storage_conditions %>
        </td>

        <td>
          <%= furniture_pack.apartment_sq_footage %>
        </td>

        <td>
          <%= furniture_pack.apartment_number_of_bedrooms %>
        </td>

        <td>
          <%= furniture_pack.apartment_number_of_bathrooms %>
        </td>

        <td>
          <%= furniture_pack.apartment_building_name %>
        </td>

        <td>
          <% if furniture_pack.apartment.present? %>
            <a href="/apartments/<%= furniture_pack.apartment.id %>">
              <%= furniture_pack.apartment.user_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(furniture_pack.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(furniture_pack.updated_at) %> ago
        </td>

        <td>
          <a href="/furniture_packs/<%= furniture_pack.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @furniture_packs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
