<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Apartment bookmark #<%= @apartment_bookmark.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/apartment_bookmarks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link apartment_bookmark start -->
      <div class="col">
        <a href="/apartment_bookmarks/<%= @apartment_bookmark.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit apartment bookmark
        </a>
      </div>
      <!-- Edit link apartment_bookmark end -->

      <!-- Delete link apartment_bookmark start -->
      <div class="col">
        <a href="/delete_apartment_bookmark/<%= @apartment_bookmark.id %>" class="btn btn-block btn-outline-secondary">
          Delete apartment bookmark
        </a>
      </div>
      <!-- Delete link apartment_bookmark end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @apartment_bookmark.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Apartment
      </dt>
      <!-- Display apartment_id start -->
      <dd>
        <%= @apartment_bookmark.apartment_id %>
      </dd>
      <!-- Display apartment_id end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @apartment_bookmark.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@apartment_bookmark.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@apartment_bookmark.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
