<%= search_form_for @q, :class => collapse_search_form, :id => "building_amenities_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :amenity_name_cont, "Amenity name contains" %>
    <%= f.text_field :amenity_name_cont, :class => "form-control", :placeholder => "Amenity name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :apartment_id, "Building Apartment" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :building_apartment_id_gteq, :class => "form-control", :placeholder => "Building Apartment greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :building_apartment_id_lteq, :class => "form-control", :placeholder => "Building Apartment less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "AmenityPicture Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='amenity_picturesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :amenity_pictures_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "AmenityPicture Created at greater than or equal to", :data => {:target => '#amenity_picturesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#amenity_picturesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='amenity_pictureslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :amenity_pictures_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "AmenityPicture Created at less than or equal to", :data => {:target => '#amenity_pictureslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#amenity_pictureslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#amenity_picturesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#amenity_pictureslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#amenity_picturesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#amenity_pictureslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#amenity_pictureslteqcreated_atPicker').on("dp.change", function (e) {
              $('#amenity_picturesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/building_amenities" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#building_amenities_filters">
  Show filters
</a>
