<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All building amenities
    </h1>

    <a href="/building_amenities/new" class="btn btn-block btn-outline-secondary">
      Add a new building amenity
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Building
        </th>

        <th>
          Amenity
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @building_amenities.each do |building_amenity| %>
      <tr>
        <!-- Display building_amenity.id start -->
        <td>
          <%= building_amenity.id %>
        </td>
        <!-- Display building_amenity.id end -->

        <!-- Display building_amenity.building_id start -->
        <td>
          <%= building_amenity.building.apartment_id %>
        </td>
        <!-- Display building_amenity.building_id end -->

        <!-- Display building_amenity.amenity_id start -->
        <td>
          <%= building_amenity.amenity.name %>
        </td>
        <!-- Display building_amenity.amenity_id end -->

        <!-- Display building_amenity.created_at start -->
        <td>
          <%= time_ago_in_words(building_amenity.created_at) %> ago
        </td>
        <!-- Display building_amenity.created_at end -->

        <!-- Display building_amenity.updated_at start -->
        <td>
          <%= time_ago_in_words(building_amenity.updated_at) %> ago
        </td>
        <!-- Display building_amenity.updated_at end -->

        <td>
          <a href="/building_amenities/<%= building_amenity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @building_amenities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
