<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All building amenities
    </h1>

    <a href="/building_amenities/new" class="btn btn-block btn-outline-secondary">
      Add a new building amenity
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "building_amenity_templates/building_amenities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Building
        </th>

        <th>
          Amenity
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @building_amenities.each do |building_amenity| %>
      <tr>
        <td>
          <%= building_amenity.id %>
        </td>

        <td>
          <% if building_amenity.building.present? %>
            <a href="/buildings/<%= building_amenity.building.id %>">
              <%= building_amenity.building.apartment_id %>
            </a>
          <% end %>
        </td>

        <td>
          <% if building_amenity.amenity.present? %>
            <a href="/amenities/<%= building_amenity.amenity.id %>">
              <%= building_amenity.amenity.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(building_amenity.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(building_amenity.updated_at) %> ago
        </td>

        <td>
          <a href="/building_amenities/<%= building_amenity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @building_amenities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
