<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Furtniture object #<%= @furtniture_object.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furtniture_objects" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/furtniture_objects/<%= @furtniture_object.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit furtniture object
        </a>
      </div>

      <div class="col">
        <a href="/delete_furtniture_object/<%= @furtniture_object.id %>" class="btn btn-block btn-outline-secondary">
          Delete furtniture object
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Price
      </dt>
      <dd>
        <%= @furtniture_object.price %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @furtniture_object.description %>
      </dd>

      <dt>
        Furniture pack
      </dt>
      <dd>
        <% if @furtniture_object.furniture_pack.present? %>
          <a href="/furniture_packs/<%= @furtniture_object.furniture_pack_id %>">
            <%= @furtniture_object.furniture_pack.description %>
          </a>
        <% end %>
      </dd>

      <dt>
        Furniture category
      </dt>
      <dd>
        <% if @furtniture_object.category.present? %>
          <a href="/furniture_categories/<%= @furtniture_object.furniture_category_id %>">
            <%= @furtniture_object.category.items %>
          </a>
        <% end %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @furtniture_object.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@furtniture_object.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@furtniture_object.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "furtniture_object_templates/furtniture_object_furniture_pictures" %>
  </div>
</div>
