<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Furtniture object #<%= @furtniture_object.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furtniture_objects" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link furtniture_object start -->
      <div class="col">
        <a href="/furtniture_objects/<%= @furtniture_object.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit furtniture object
        </a>
      </div>
      <!-- Edit link furtniture_object end -->

      <!-- Delete link furtniture_object start -->
      <div class="col">
        <a href="/delete_furtniture_object/<%= @furtniture_object.id %>" class="btn btn-block btn-outline-secondary">
          Delete furtniture object
        </a>
      </div>
      <!-- Delete link furtniture_object end -->
    </div>

    <dl>
      <dt>
        Price
      </dt>
      <!-- Display price start -->
      <dd>
        <%= @furtniture_object.price %>
      </dd>
      <!-- Display price end -->

      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @furtniture_object.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Furniture pack
      </dt>
      <!-- Display furniture_pack_id start -->
      <dd>
        <%= @furtniture_object.furniture_pack_id %>
      </dd>
      <!-- Display furniture_pack_id end -->

      <dt>
        Category
      </dt>
      <!-- Display category_id start -->
      <dd>
        <%= @furtniture_object.category_id %>
      </dd>
      <!-- Display category_id end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @furtniture_object.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@furtniture_object.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@furtniture_object.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
