<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Apartment photo #<%= @apartment_photo.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/apartment_photos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link apartment_photo start -->
      <div class="col">
        <a href="/apartment_photos/<%= @apartment_photo.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit apartment photo
        </a>
      </div>
      <!-- Edit link apartment_photo end -->

      <!-- Delete link apartment_photo start -->
      <div class="col">
        <a href="/delete_apartment_photo/<%= @apartment_photo.id %>" class="btn btn-block btn-outline-secondary">
          Delete apartment photo
        </a>
      </div>
      <!-- Delete link apartment_photo end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @apartment_photo.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Apartment
      </dt>
      <!-- Display apartment_id start -->
      <dd>
        <%= @apartment_photo.apartment_id %>
      </dd>
      <!-- Display apartment_id end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <%= @apartment_photo.photo %>
      </dd>
      <!-- Display photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@apartment_photo.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@apartment_photo.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
