<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All amenity pictures
    </h1>

    <a href="/amenity_pictures/new" class="btn btn-block btn-outline-secondary">
      Add a new amenity picture
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Picture
        </th>

        <th>
          Description
        </th>

        <th>
          Building amenity
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @amenity_pictures.each do |amenity_picture| %>
      <tr>
        <!-- Display amenity_picture.id start -->
        <td>
          <%= amenity_picture.id %>
        </td>
        <!-- Display amenity_picture.id end -->

        <!-- Display amenity_picture.picture start -->
        <td>
          <%= amenity_picture.picture %>
        </td>
        <!-- Display amenity_picture.picture end -->

        <!-- Display amenity_picture.description start -->
        <td>
          <%= amenity_picture.description %>
        </td>
        <!-- Display amenity_picture.description end -->

        <!-- Display amenity_picture.building_amenity_id start -->
        <td>
          <%= amenity_picture.building_amenity_id %>
        </td>
        <!-- Display amenity_picture.building_amenity_id end -->

        <!-- Display amenity_picture.created_at start -->
        <td>
          <%= time_ago_in_words(amenity_picture.created_at) %> ago
        </td>
        <!-- Display amenity_picture.created_at end -->

        <!-- Display amenity_picture.updated_at start -->
        <td>
          <%= time_ago_in_words(amenity_picture.updated_at) %> ago
        </td>
        <!-- Display amenity_picture.updated_at end -->

        <td>
          <a href="/amenity_pictures/<%= amenity_picture.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
